.cab-card {
  position: relative;
  box-sizing: border-box;
  height: 136px;
  min-width: 266px;
  width: 90%;
  border: 1px solid #F1F3F5;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(57,67,77,0.08);
  padding: 17.5px 7.3px 25.5px 25.5px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &__modal {
    width: 50% !important;
    margin: 0 auto;
  }

  .card-header {
    .cab-name {
        color: #39434D;
        font-family: "DIN Pro";
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        text-transform: capitalize;
    }

    .options {
      background-image: url("/assets/icons/ic_ellipses.svg");
      background-repeat: no-repeat;
      background-position: center;
      border:none;
    }

  }
  .card-body {
    .cab-number {
      margin: 16px 0 8px 0;
      height: 24px;
      .ic-reg::before {
        content: url("/assets/icons/ic_reg.svg");
      }
    }
    .cab-capacity {
      height: 24px;
      .ic-capacity::before {
        content: url("/assets/icons/ic_capacity.svg");
      }
    }
    .cab-card-icon {
      display: inline-block;
      background-color: rgba(224,232,234,0.47);
      box-shadow: 0 7px 44px 0 rgba(0,0,0,0.04);
      margin-right: 9px;
      border-radius: 50%;
      height: 100%;
      width: 24px;
      text-align: center;
    }
    .body-text {
      font-size: 14px;
      line-height: 18px;
      margin-top: 10px;
    }
  }
  .cab-card-action {
    position: absolute;
    box-sizing: border-box;
    height: 98px;
    width: 113px;
    border: 1px solid #F1F3F5;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 7px 44px 0 rgba(0,0,0,0.04);
    top: 48.32px;
    left: 192px;
    padding-top: 23.5px;
    padding-left: 22.5px;
    z-index: 1;
    .edit-action {
      .action-button {
        color: #3359DB;
      }
    }
    .delete-action {
      .action-button {
        color: #FF5359;
        margin-top: 16px;
      }
    }
    .ic-edit::before {
      content: url("/assets/icons/ic_edit.svg");
    }
    .ic-delete::before {
      content: url("/assets/icons/ic_delete.svg");
    }
    .action-button {
      position: relative;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      border: none;
      padding: 0 0 0 30px;
    }
    .action-icon::before {
      position: absolute;
      left: 0;
    }
  }
}

.cab-card-action:after {
  content: ' ';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
  border-right: 10px solid transparent;
  left: 42%;
  bottom: 100%;
}
.cab-card-action:before {
  content: ' ';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid rgb(149, 141, 141);
  border-right: 10px solid transparent;
  left: 42%;
  bottom: 100%;
}

.cab-card:hover {
  animation-name: cab-hover;
  animation-duration: 0.25s;
  box-shadow: 0 2px 30px -10px rgba(0, 0, 0, 0.25);

  span{
    color: #3359DB;
  }

  .card-header {
    .cab-name {
      color: #3359DB;
      cursor: pointer;
    }
  }
}


@keyframes cab-hover {
  0%   {border: 1px solid #C8C8C8;}
  60% {border: 1px solid #F8F8F8;}
  100% {border: 1px solid white;}
}
