<mat-tab-group
  animationDuration="800ms"
  (selectedTabChange)="getSelectedTab($event)">
  <mat-tab label="On Route"><br>
    <app-fellows
      [onOrOffRoute]="'onRoute'"
      [showRemoveIcon]="true"
      (fellowsOnRouteEventEmitter)="fellowsOnRouteCount($event)">
    </app-fellows>
  </mat-tab>

  <mat-tab label="Off Route"><br>
    <app-fellows
      [onOrOffRoute]="'offRoute'"
      [showAddIcon]="true"
      (fellowsOnRouteEventEmitter)="fellowsOnRouteCount($event)">
    </app-fellows>
  </mat-tab>
</mat-tab-group>
