<div class="modal-body">
    <div class="modal-header">
      <button class="close-button" (click)="closeDialog()">
        &#x2715;
      </button>
    </div>
    <div class="display-flex-center">
      <p class="header-title">
        Are you sure you want to Delete?
      </p>
      <div class="card-body">
        <app-cab-card
          [model]="cab.model"
          [regNumber]="cab.regNumber"
          [capacity]="cab.capacity"
          [hidden]="true"
          [showMoreIcon]="false">
        </app-cab-card>
      </div>
      <button class="action-buttons confirm" (click)="delete()">
        YES, DELETE
      </button>
      <button mat-dialog-close class="action-buttons cancel" (click)="closeDialog()">
        CANCEL
      </button>
    </div>
</div>
  