<div class="container">
  <div class="header">
    <a [routerLink]="homeUrl">
      <img
        src="../../assets/images/brand/logo.png"
        alt="Tembea"
        class="site-logo"
      />
    </a>
  </div>
  <div class="main">
    <h2 class="page-title">Error 404</h2>
    <img src="../../assets/images/unauthorized/feeling_blue.png" alt="Uh oh!" />
    <div class="details">
      <h3>Oops!</h3>
      <p>The page you're looking for isn't here :(</p>
    </div>
  </div>

  <div class="bottom-image"></div>
</div>
