@font-face {
  font-family: "DIN Pro Black";
  src: url("/assets/fonts/DinPro/DINPro-Black.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  src: url("/assets/fonts/DinPro/DINPro.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  font-weight: 200;
  src: url("/assets/fonts/DinPro/DINPro-Extlight.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  font-weight: 300;
  src: url("/assets/fonts/DinPro/DINPro-Light.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  font-style: italic;
  font-weight: 300;
  src: url("/assets/fonts/DinPro/DINPro-LightItalic.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  font-weight: 500;
  src: url("/assets/fonts/DinPro/DINPro-Medium.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro";
  font-weight: bold;
  src: url("/assets/fonts/DinPro/DINPro-Bold.otf") format("truetype");
}
