<div *ngIf="tripRequests.length === 0">
  <app-empty-page [text]="'No pending requests.'"></app-empty-page>
  <div class="bottom-image"></div>
</div>

<div *ngIf="tripRequests.length > 0">
  <div class="buttons-wrapper flex">
    <button class="search-wrapper"></button>
    <app-export-view [tableName]="'pendingRequests'" class="flex-right">
    </app-export-view>
  </div>
</div>

<div *ngIf="tripRequests.length > 0" class="trips-container">
  <div class="trips-table custom-table">
    <mat-grid-list cols="9" rowHeight="4:1" class="pending-table-head table-header-hover">
      <mat-grid-tile tabindex="0">
        <div class="trip-align-cell">Requested On</div>
      </mat-grid-tile>
      <mat-grid-tile tabindex="0">
        <div class="trip-align-cell">Departing On</div>
      </mat-grid-tile>
      <mat-grid-tile tabindex="0">
          <div class="trip-align-cell">Pickup</div>
      </mat-grid-tile>
      <mat-grid-tile tabindex="0">
        <div class="trip-align-cell">Destination</div>
      </mat-grid-tile>
      <mat-grid-tile tabindex="0">
        <div class="trip-align-cell">Requested-By</div>
      </mat-grid-tile>
      <mat-grid-tile tabindex="0">
        <div class="trip-align-cell">Department</div>
      </mat-grid-tile>
      <mat-grid-tile tabindex="0">
        <div class="trip-align-cell">Rider</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="trip-align-cell">Approved By</div>
      </mat-grid-tile>
      <mat-grid-tile>Actions
        <div class="actions-icon tirp-align-cell"></div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list *ngFor='let trip of tripRequests' class="pending-table-body table-row-item trip-table-body" cols="9" rowHeight="4:1">
      <mat-grid-tile>
        <div class="trip-align-cell">
          <span>{{ trip.requestedOn | date: 'dd-MM-yy' }}</span>
          <br />
          <span class="time">{{ trip.requestedOn | date: 'shortTime' }}</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="trip-align-cell">
          <span>{{ trip.departureTime | date: 'dd-MM-yy' }}</span>
          <br />
          <span class="time">{{ trip.departureTime | date: 'shortTime' }}</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="">
        <div class="trip-align-cell">
            {{ trip.pickup | shortenText }}
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="">
        <div class="trip-align-cell">
          {{ trip.destination | shortenText }}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="trip-align-cell">
          <span>{{ trip.requester.name | shortenName: { max: 10 } }}</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="trip-align-cell">
          {{ trip.department}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="trip-align-cell">
          <span>{{ trip.rider.name | shortenName: { max: 10 } }}</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="trip-align-cell">
          <span>{{ trip.approvedBy.name | shortenName: { max: 10 } }}</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
          <div class="flex trip-align-cell">
              <button class='confirm-action-button'>
                <span class="confirm-icon tooltip" (click)="confirm(trip)">
                  <span class="show-on-right">Confirm<i></i></span>
                </span>
              </button>
              <button class='decline-action-button'>
                <span class="decline-icon tooltip" (click)="decline(trip)">
                  <span class="show-on-left">Decline<i></i></span>
                </span>
              </button>
            </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="pagination">
    <app-pagination [totalItems]="totalItems"
                    (pageChange)="updatePage($event)"
                    [pageSize]="pageSize"></app-pagination>
  </div>
</div>
