<div *ngIf="drivers.length === 0  && !isLoading">
  <app-empty-page [text]='displayText'></app-empty-page>
  <div class="bottom-image"></div>
</div>
<div *ngIf="drivers.length > 0">
  <div class="cabs-grid-container xl-width">
    <mat-grid-list cols="4" rowHeight="145px">
      <mat-grid-tile *ngFor='let driver of drivers; index as cardIndex' >
        <app-driver-card
          [id]="driver.id"
          [providerId] ="providerId"
          [driverName]="driver.driverName"
          [driverPhoneNo]="driver.driverPhoneNo"
          [driverNumber]="driver.driverNumber"
          [driverEmail]="driver.email"
          [driverProviderId]="driver.providerId"
          (refreshWindow)="getInventory()"
          [showMoreIcon]="true"
          (showOptions)="showOptions(cardIndex)"
          [hidden]="currentOptions !== cardIndex">
        </app-driver-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="cabs-grid-container l-width">
    <mat-grid-list cols="2" rowHeight="145px">
      <mat-grid-tile *ngFor='let driver of drivers; index as cardIndex' >
        <app-driver-card
          [id]="driver.id"
          [providerId] ="providerId"
          [driverName]="driver.driverName"
          [driverPhoneNo]="driver.driverPhoneNo"
          [driverNumber]="driver.driverNumber"
          [driverEmail]="driver.email"
          [driverProviderId]="driver.providerId"
          (refreshWindow)="getInventory()"
          [showMoreIcon]="true"
          (showOptions)="showOptions(cardIndex)"
          [hidden]="currentOptions !== cardIndex">
        </app-driver-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="cabs-grid-container sm-width">
    <mat-grid-list cols="1" rowHeight="145px">
      <mat-grid-tile *ngFor='let driver of drivers; index as cardIndex' >
        <app-driver-card
          [id]="driver.id"
          [providerId] ="providerId"
          [driverName]="driver.driverName"
          [driverPhoneNo]="driver.driverPhoneNo"
          [driverNumber]="driver.driverNumber"
          [driverEmail]="driver.email"
          [driverProviderId]="driver.providerId"
          (refreshWindow)="getInventory()"
          [showMoreIcon]="true"
          (showOptions)="showOptions(cardIndex)"
          [hidden]="currentOptions !== cardIndex">
        </app-driver-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="pagination">
    <app-pagination *ngIf='totalItems > pageSize' [totalItems]="totalItems" (pageChange)="setPage($event)"
                    [pageSize]="pageSize"></app-pagination>
  </div>
</div>
