<main class="cover">
  <section class="logo">
    <img src="/assets/images/brand/logo.png" alt="Logo">
  </section>
  <section class="home-image">
    <div class="image-wrapper">
      <img src="/assets/images/home/tembea-image.png" alt="Tembea Image">
    </div>
  </section>
  <section class="home-text">
    <div class="mantra">
      <p>Manage Your Rides the Andela Way.</p>
    </div>
    <div class="sub-mantra">
      <p>Start your trip with Tembea</p>
    </div>
    <div class="login-button">
      <button (click)="initializeLogin()" type="button" name="button">
        <span class="google-login-icon"></span>
        Login to Get Started
      </button>
    </div>
  </section>
</main>
