<div class="modal-body">
  <div class="modal-header">
    <button class="close-button" (click)="closeDialog()">
      &#x2715;
    </button>
  </div>
  <div class="display-flex-center">
    <p class="header-title">
      Are you sure you want to Remove?
    </p>
    <p class="header-subtitle">
      {{ fellow.name.split(' ')[0] | titlecase }} will no longer have access to this route
    </p>
    <div class="card-body">
      <app-fellow-card
        [name]="fellow.name"
        [image]="fellow.image"
        [partner]="fellow.partner"
        [tripsTaken]="fellow.tripsTaken"
        [startDate]="fellow.startDate"
        [endDate]="fellow.endDate"
        [showRemoveIcon]="false">
      </app-fellow-card>
    </div>
    <button class="action-buttons confirm" (click)="deleteFellow()">
      YES, DELETE
    </button>
    <button mat-dialog-close class="action-buttons cancel" (click)="closeDialog()">
      CANCEL
    </button>
  </div>
</div>
