<div class="add-department-modal">
  <div class="modal-header">
      <button class="close-button button-hover" (click)="closeDialog()">
        &#x2715;
      </button>
  </div>
  <div class=form-container>
      <form #addForm="ngForm" (ngSubmit)="addDepartment()" novalidate>
        <ng-container *ngIf="!model.id; else editTitle">
          <h2>Add a New Department</h2>
        </ng-container>
        <ng-template #editTitle>
          <h2>Edit {{model.oldName}} Department</h2>
        </ng-template>

        <div class="single-field">
            <div class="field single">
                <div class="input-group">
                  <label for="name">What's the new department?</label>
                  <input
                  required
                  [(ngModel)]="model.name"
                  id="name"
                  name="name"
                  pattern="^[a-zA-Z0-9\s,+-]+$"
                  [class.is_invalid]="name.invalid && name.touched"
                  #name="ngModel"/>
                  <div *ngIf="name.errors && (name.touched && name.invalid)">
                    <small class="text-danger" *ngIf="name?.errors.required">name field is required</small>
                    <small class="text-danger" *ngIf="name?.errors.pattern">please provide a valid department name</small>
                  </div>
              </div>
            </div>
        </div>
        <div class="single-field">
          <div class="field single">
              <div class="input-group">
                <label for="location">Where is it located?</label>
                <input
                id="location"
                required
                [(ngModel)]="model.location"
                name="location"
                pattern="^[a-zA-Z\s+-]+$"
                [class.is_invalid]="location.invalid && location.touched"
                #location="ngModel"/>
                <div *ngIf="location.errors && (location.touched && location.invalid)">
                  <small class="text-danger" *ngIf="location?.errors.required">location field is required</small>
                  <small class="text-danger" *ngIf="location?.errors.pattern">location field cannot contain numeric values or symbols</small>
                </div>
            </div>
          </div>
        </div>
        <div class="single-field">
          <div class="field single">
              <div class="input-group">
                <label for="location">What's the manager’s email?</label>
                <input
                required
                id="email"
                name="email"
                [(ngModel)]="model.email"
                type="email"
                email
                [class.is_invalid]="email.invalid && email.touched"
                #email=ngModel/>
                <div *ngIf="email.errors && (email.touched && email.invalid)">
                  <small class="text-danger" *ngIf="email?.errors.required">email field is required</small>
                  <small class="text-danger" *ngIf="email?.errors.email">email is invalid</small>
                </div>
            </div>
          </div>
      </div>
      <button
      type="submit"
      [disabled]="loading || addForm.invalid">
        <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin"></i>
        &nbsp;
        <span>SUBMIT</span>
      </button>
    </form>
  </div>
</div>
